# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Parcel build output
dist/
.cache/

# VS Code settings (opcional)
.vscode/

# Sass cache
.sass-cache/

# Sistema operacional (opcional)
.DS_Store
Thumbs.db

# Grunt output (se usar outra pasta de build)
src/css/

# Log de erros do Parcel
.parcel-cache/
